/* Footer dinâmico */
footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 0;
}
