/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fundo da página */
body {
background-image: url("/assets/img/plano_de_fundo.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilos do logo PAMDE */
header {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10; /* Garante que fique acima do fundo */
}

header img {
    width: 120px; /* Ajuste conforme necessário */
    height: auto;
}
